* {
  user-select: none;
}

.progress-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

p {
  text-align: center;
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  font-size: 4vmin;
  color: white;
}

.welcome-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(64, 0, 64, 0.5);
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    color: #2c6363;
  }
}