  <p class="welcome-text" spellcheck="false">We zijn de website voor u aan het epibreren.<br />Even geduld a.u.b.<br />
    <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button>
  </p>
  <div class="progress-spinner"><p-progressSpinner animationDuration="4s"></p-progressSpinner></div>
  <p-sidebar [(visible)]="sidebarVisible">
    <p>
    <a href="https://epibratie.nl/solitaire">solitaire</a>
    <br /><br />
    <a href="https://epibratie.nl/puzzle">puzzle</a>
    <br /><br />
    <a href="https://epibratie.nl/irmpier">irmpier</a>
    </p>
  </p-sidebar>
  <div class="card flex justify-content-center">
</div>