<div class="epibratie">
  <img src="assets/epibreren.png" class="image">
  <img src="assets/epibreren-small.png" class="image-small">
  <p spellcheck="false">We zijn de website voor u aan het epibreren.<br />Even geduld a.u.b.</p>
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="button-group">
    <a href="https://epibratie.nl/solitaire" class="p-button">solitaire</a>
    <div></div>
    <a href="https://epibratie.nl/puzzle" class="p-button">puzzle</a>
  </div>
</div>