* {
  user-select: none;
}

.progress-spinner {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(64, 0, 64, 0.5);
  text-align: center;
  font-size: 4vmin;
}

a {
  text-decoration: none;
}