@import "primeicons/primeicons.css";

body {
    background: #400040 url(assets/epibreren.png) no-repeat center fixed;
    background-size: contain;
}

.p-progressspinner-circle {
    stroke: white !important;  
}